[Unit]
Description=AssBot made by Fecton with love
Wants=network.target
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu 
WorkingDirectory=/home/ubuntu/assbot
ExecStart=python3 /home/ubuntu/assbot/app.py
Restart=always
RestartSec=5
Environment=

[Install]
WantedBy=multi-user.target
