aiogram==2.13
aiohttp==3.7.4.post0
altgraph==0.17
appdirs==1.4.4
async-timeout==3.0.1
attrs==21.2.0
auto-py-to-exe==2.9.0
Babel==2.9.1
beautifulsoup4==4.9.3
bottle==0.12.19
bottle-websocket==0.2.9
bs4==0.0.1
buildozer==1.2.0.dev0
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
colorama==0.4.4
DateTime==4.3
discord==1.7.3
discord.py==1.7.3
distlib==0.3.2
docutils==0.17.1
Eel==0.12.4
filelock==3.0.12
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
idna==2.10
Kivy==2.0.0
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
lxml==4.6.3
MouseInfo==0.1.3
multidict==5.1.0
mysqlclient==2.0.3
numpy==1.20.3
pafy==0.5.5
pefile==2021.5.24
pexpect==4.8.0
Pillow==8.2.0
ptyprocess==0.7.0
PyAutoGUI==0.9.53
pycparser==2.20
pydotenv==0.0.7
PyGetWindow==0.0.9
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.2
PyMsgBox==1.0.9
pyperclip==1.8.2
pypiwin32==223
PyRect==0.1.4
PyScreeze==0.1.27
pyTelegramBotAPI==3.8.1
python-dotenv==0.18.0
PyTweening==1.0.3
pytz==2021.1
pywin32==300
pywin32-ctypes==0.2.0
requests==2.25.1
sh==1.14.2
six==1.16.0
soupsieve==2.2.1
telebot==0.0.4
typing-extensions==3.10.0.0
urllib3==1.26.4
vcgencmd==0.1.1
virtualenv==20.4.7
whichcraft==0.6.1
wxPython==4.1.1
yarl==1.6.3
youtube-dl==2021.6.6
zope.event==4.5.0
zope.interface==5.4.0